* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.nav {
    /* Pour garder notre menu "collé" en haut de page */
    background: #FFFFFFEE;
    box-shadow: 0 1px 5px #555;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Style des listes de niveau 1 (pas de sous listes) */
.nav > ul {
    display: flex;
}
.nav > ul > li {
    position: relative; /* utile pour positionner les sous liste en absolu */
    width: 200px;
    padding: 15px 30px;
    list-style-type: none;
    cursor: pointer;
    transition: background 0.3s ease;
    overflow: hidden;
}
.nav > ul > li:hover {
    background: #eee;
    transition: background 0.1s ease;
    overflow: visible;
}

/* Styles liés aux sous menus */
.nav > ul > li > ul {
    position: absolute;
    background: #eee;
    width: 100%;
    padding: 20px;
    left: 0;
    margin-top: 15px;
    display: block;
    /* propriétés liées au masquage de la sous liste */
    z-index: -10;
    opacity: 0;
    top: 0;
    transition: all 0.3s ease;
}
.nav > ul > li:hover > ul  {
    z-index: 10;
    opacity: 1;
    top: 30px;
    transition: all 0.3s ease;
}
.nav > ul > li > ul > li {
    padding: 5px 0;
}
.nav > ul > li > ul > li:hover {
    background: #E1E1E1;
}

/* Affichage responsive pour smartphone. */
@media (max-width: 800px) {
    .nav {
        background: red;
    }
}



/* CSS inutile pour le menu, servant  juste pour le texte de la page. */ 

.filler {
    max-width: 600px;
    margin: 0 auto 0 auto;
}
.filler p {
    margin: 50px;
}

